# Папка сборки
build/
Release/
Debug/

# Файлы компиляции
*.exe
*.exe.stackdump
*.o
*.obj
*.out

# Файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Файлы IDE (Visual Studio)
.vs/
*.user
*.sln
*.vcxproj
*.filters

# Файлы IDE (VSCode)
.vscode/
.idea/

# Временные файлы Windows
Thumbs.db
desktop.ini

# Логи
*.log
*.tmp

# Файлы операционной системы
.DS_Store